@import url(bootstrap.min.css);
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #333333;
  color: #000000;
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0; }

/* Portrait layout (default) */
#slide-wrapper {
  width: 100%;
  overflow-x: hidden; }
  #slide-wrapper #app {
    width: 200%;
    max-width: 200%;
    position: relative;
    left: 0; }
    #slide-wrapper #app #index, #slide-wrapper #app #new-peek {
      float: left;
      width: 50%;
      position: relative;
      padding-top: 6em;
      overflow: hidden; }
    #slide-wrapper #app .clear {
      clear: both; }
    #slide-wrapper #app .nav {
      padding: 1em;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 100; }
      #slide-wrapper #app .nav h1 {
        text-align: center; }
      #slide-wrapper #app .nav a {
        color: #0088ff;
        font-size: 2em;
        position: absolute;
        top: 0.3em; }
        #slide-wrapper #app .nav a:hover, #slide-wrapper #app .nav a:active {
          text-decoration: none; }
      #slide-wrapper #app .nav #btn-new-peek, #slide-wrapper #app .nav #btn-save {
        right: .5em; }
      #slide-wrapper #app .nav .glyphicon {
        top: 2px; }
      #slide-wrapper #app .nav #btn-back {
        left: .5em; }
    #slide-wrapper #app #peek-template {
      display: none; }
    #slide-wrapper #app #no-peeks {
      color: #adadad;
      font-size: 2em;
      text-align: center;
      padding-top: 6em;
      text-shadow: 1px 1px #111111; }
    #slide-wrapper #app .peek-map-container .map-container {
      padding: 0;
      position: relative;
      margin: 0 auto 2em auto;
      width: 80%;
      height: 0;
      padding-bottom: 80%; }
      #slide-wrapper #app .peek-map-container .map-container .map {
        position: absolute;
        width: 100%;
        height: 100%; }
        #slide-wrapper #app .peek-map-container .map-container .map .MicrosoftMap {
          border-radius: 1em; }
          #slide-wrapper #app .peek-map-container .map-container .map .MicrosoftMap .TrafficLegend, #slide-wrapper #app .peek-map-container .map-container .map .MicrosoftMap .OverlaysTL {
            display: none; }
      #slide-wrapper #app .peek-map-container .map-container .label-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 6em;
        background: -moz-linear-gradient(top, transparent 0%, black 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, transparent 0%, black 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, transparent 0%, black 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, transparent 0%, black 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, transparent 0%, black 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        /* IE6-9 */ }
        #slide-wrapper #app .peek-map-container .map-container .label-bar label {
          display: block;
          font-weight: normal;
          text-align: left;
          font-size: 2em;
          position: absolute;
          bottom: .25em;
          left: .5em;
          color: #ffffff;
          overflow: hidden;
          height: 1.3em;
          max-width: 80%; }
        #slide-wrapper #app .peek-map-container .map-container .label-bar .btn-delete {
          color: #ffffff;
          position: absolute;
          bottom: .25em;
          right: .5em;
          font-size: 2em; }
    #slide-wrapper #app ul#map-controls {
      list-style: none;
      margin: 0;
      padding: 0; }
      #slide-wrapper #app ul#map-controls li {
        margin: 0;
        padding: 1em 2em;
        text-align: center; }
        #slide-wrapper #app ul#map-controls li .form-control {
          font-size: 1.5em;
          padding: 0.5em;
          height: auto;
          border-radius: 0.5em; }
        #slide-wrapper #app ul#map-controls li .input-group .form-control:first-child {
          border-radius: 0.5em 0 0 0.5em; }
        #slide-wrapper #app ul#map-controls li .input-group .input-group-addon {
          font-size: 1.5em;
          padding: 0.5em 1em;
          border-radius: 0 0.5em 0.5em 0; }

/* Landscape layout (with min-width) */
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center; }

/*# sourceMappingURL=index.css.map */
