@import url(bootstrap.min.css);
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #333333;
  color: #000000;
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0;
  width: auto; }

/* Portrait layout (default) */
.app {
  padding-top: 6em; }
  .app .clear {
    clear: both; }
  .app #nav {
    padding: 1em;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100; }
    .app #nav h1 {
      text-align: center; }
    .app #nav a {
      color: #0088ff;
      font-size: 2em;
      position: absolute;
      top: 0.3em; }
      .app #nav a:hover, .app #nav a:active {
        text-decoration: none; }
    .app #nav #btn-new-peek, .app #nav #btn-save {
      right: .5em; }
    .app #nav .glyphicon {
      top: 2px; }
  .app #peek-map-container .map-container {
    padding: 0;
    position: relative;
    margin: 0 auto 2em auto;
    width: 30em;
    height: 30em; }
    .app #peek-map-container .map-container .map {
      position: relative;
      width: 100%;
      height: 100%; }
      .app #peek-map-container .map-container .map .MicrosoftMap {
        border-radius: 1em; }
        .app #peek-map-container .map-container .map .MicrosoftMap .TrafficLegend, .app #peek-map-container .map-container .map .MicrosoftMap .OverlaysTL {
          display: none; }
    .app #peek-map-container .map-container .label-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 6em;
      background: -moz-linear-gradient(top, transparent 0%, black 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, black));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, transparent 0%, black 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, transparent 0%, black 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, transparent 0%, black 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, transparent 0%, black 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
      /* IE6-9 */ }
      .app #peek-map-container .map-container .label-bar label {
        display: block;
        font-weight: normal;
        text-align: left;
        font-size: 2em;
        position: absolute;
        bottom: .25em;
        left: .5em;
        color: #ffffff;
        overflow: hidden;
        height: 1.3em;
        max-width: 80%; }
      .app #peek-map-container .map-container .label-bar .btn-delete {
        color: #ffffff;
        position: absolute;
        bottom: .25em;
        right: .5em;
        font-size: 2em; }

/* Landscape layout (with min-width) */
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center; }

/*# sourceMappingURL=index.css.map */
