@import "bootstrap.min.css";

@keyframes showNewPeek {
  from {left: 0;}
  to {left: -100%;}
}
@keyframes showIndex {
  from {left: -100%;}
  to {left: 0;}
}
@-webkit-keyframes showNewPeek {
  from {left: 0;}
  to {left: -100%;}
}
@-webkit-keyframes showIndex {
  from {left: -100%;}
  to {left: 0;}
}

$blue: #0088ff;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#333333;
    color: #000000;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0;
}

/* Portrait layout (default) */
#slide-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;

  #app {
    position: absolute;
    width: 200%;
    height: 100%;
    min-height: 100%;
    left: 0;
    padding-bottom: 5em;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    #index, #new-peek {
      padding-top: 6em;
      width: 50%;
      float: left;
      position: relative;
    }

    &.showIndex {
      left: 0;
      -webkit-animation-name: showIndex;
      -webkit-animation-duration: 0.5s;
      animation-name: showIndex;
      animation-duration: 0.5s;
    }
    &.showNewPeek {
      left: -100%;
      -webkit-animation-name: showNewPeek;
      -webkit-animation-duration: 0.5s;
      animation-name: showNewPeek;
      animation-duration: 0.5s;
    }

    .clear { clear: both; }

    .nav {
      padding: 1em;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      z-index: 100;

      h1 {
        text-align: center;
      }

      a {
        color: $blue;
        font-size: 2em;
        position: absolute;
        top: 0.3em;

        &:hover, &:active {
          text-decoration: none;
        }
      }

      #btn-new-peek, #btn-save {
        right: .5em;
      }

      .glyphicon {
        top: 2px;
      }

      #btn-back {
        left: .5em;
      }
    }

    #peek-template {
      display: none;
    }

    #no-peeks {
      color: #adadad;
      font-size: 2em;
      text-align: center;
      padding-top: 6em;
      text-shadow: 1px 1px #111111;
    }

    .peek-map-container {
      .map-container {
        padding: 0;
        position: relative;
        margin: 0 auto 2em auto;

        // Responsive square hack
        width: 80%;
        height: 0;
        padding-bottom: 80%;

        .map {
          position: absolute;;
          width: 100%;
          height: 100%;

          .MicrosoftMap {
            border-radius: 50%;

            .TrafficLegend, .OverlaysTL {
              display: none;
            }
          }
        }

        .label-bar {
          position: absolute;
          top: -2em;
          left: 0;
          right: 0;
          height: 6em;
          text-shadow: 1px 1px 4px #000000;

          label {
            display: block;
            font-weight: normal;
            text-align: left;
            font-size: 2em;
            position: absolute;
            bottom: .25em;
            left: .5em;
            color: #ffffff;
            overflow: hidden;
            height: 1.3em;
            max-width: 80%;
          }

          .btn-delete {
            color: #ffffff;
            position: absolute;
            bottom: .25em;
            right: .5em;
            font-size: 2em;
          }
        }
      }
    }

    ul#map-controls {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: .5em 2em 0 2em;
        text-align: center;

        .form-control {
          font-size: 1.5em;
          padding: 0.5em;
          height: auto;
          border-radius: 0.5em;
        }

        .input-group {
          .form-control:first-child {
            border-radius: 0.5em 0 0 0.5em;
          }

          .input-group-addon {
            font-size: 1.5em;
            padding: 0.5em 1em;
            border-radius: 0 0.5em 0.5em 0;
          }
        }
      }
    }
  }
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
