#map-container {
  width: 30em;
  height: 30em;
  margin: 2em auto;
  //
  // // Elevate to GPU
  // -webkit-transform: translateZ(0);
  // -moz-transform: translateZ(0);
  // -ms-transform: translateZ(0);
  // transform: translateZ(0);

  #map {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

ul#map-controls {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 1em;
    text-align: center;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; }
}
@mixin animation($prop) {
  -webkit-animation: $prop;
  -moz-animation: $prop;
  -o-animation: $prop;
  animation: $prop;
}
@include keyframes(slideopen) {
  0% { height: 3.2em; }
  50% { height: 5.5em; }
}
#btn-save { display: none; }
.faux-btn {
  position: relative;
  overflow: hidden;
  background-color: #dedede;
  color: #333333;
  border: none;
  font-size: 1.5em;
  padding: 1em 2em;
  height: 3.2em;
  display: inline-block;
  text-decoration: none;
}
#btn-save:checked + label.faux-btn {
  @include animation(slideopen 0.8s);
  height: 5.5em;
}

// Variables
$circleDiam: 20px;
$innerCircleDiam: $circleDiam/3;
$rotatingCircleDiam: $circleDiam/5;

$innerCirclePos: ($circleDiam - $innerCircleDiam)/2;
$rotatingCirclePosLeft: ($circleDiam - $innerCircleDiam)/2 - $rotatingCircleDiam;
$rotatingCirclePosTop: $circleDiam/2 - $rotatingCircleDiam/2;

//The circle wrapper
.spinner {
  text-indent: 999em;
  width: $circleDiam;
  height: $circleDiam;
  position: absolute;
  top: 4em; left: 50%;
  margin: -$circleDiam/2;
  background-color: #888;
  box-shadow: 0 2px 1px rgba(0,0,0,.3) inset;
  border-radius: 50%;

// The inner, rotating circle
  &:after {
    content: '';
    position: absolute;
    top: $rotatingCirclePosTop;
    left: $rotatingCirclePosLeft;
    background-color: #fff;
    height: $rotatingCircleDiam;
    width: $rotatingCircleDiam;
    animation: spin 1s linear infinite;
    border-radius: 50%;
    transform-origin: $innerCirclePos/2 + $rotatingCircleDiam;
  }
}

// Spin it, baby!
@keyframes spin {
    100% { transform: rotate(360deg); }
}
